rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read access for all users
      allow read;
      // Allow write access for all users
      allow write: if true;
    }
  }
}
